<%- include('theme/header.ejs', data) %>
<!DOCTYPE html>
<html lang="en" class="no-js">
<head>    
    <!--- Basic Page Needs  -->
    <meta charset="utf-8">
    <title><%= data.aplikasi %> | Jasa Pembuatan Website Murah & Terpercaya</title>
    <meta name="description" content="Jasa Pembuatan Website Murah & Terpercaya">
    <meta name="author" content="Ale Nur Hijaz">
    <meta name="keywords" content="Jasa Pembuatan Website Murah & Terpercaya">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <!-- Mobile Specific Meta  -->
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <!-- Google Fonts -->
    <link href='https://fonts.googleapis.com/css?family=Raleway:300,400,500,600,700|Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <!-- CSS -->
    <link rel="stylesheet" href="/theme/css/bootstrap.min.css">
    <link rel="stylesheet" href="/theme/css/font-awesome.min.css">
    <link rel="stylesheet" href="/theme/css/preview.css">
    <link rel="stylesheet" href="/theme/css/responsive.css">
    <link rel="stylesheet" href="/theme/assets/css/style.css">

    <!-- Favicon -->
    <link rel="shortcut icon" type="image/png" href="/theme/img/favicon.ico">
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
        <![endif]-->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-146096590-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());
    
      gtag('config', 'UA-146096590-1');
    </script>
</head>
<body data-spy="scroll" data-target="#scroll-menu" data-offset="100">
<!-- Preloader -->
<div class="preloader-wrap">
    <div class="preloader-inside">
        <div class="preloader">
            <div class="preloader-inner box1"></div>
            <div class="preloader-inner box2"></div>
            <div class="preloader-inner box3"></div>
        </div>
    </div>
</div>
<!-- End Preloader -->
<!-- Header Section -->
<header id="home">
    <div class="full-wrap hero-wrap">
        <div class="hero-inner">
            <div class="hero-wrap-inside">
                <h1><%= data.aplikasi %></h1>
                <span>Jasa Pembuatan Website Murah & Terpercaya</span>
                <div class="purchase-button">
                  <a style="font-size: 10px;" class="btn btn-preview whatsapp_pesan" href=""><i class="fa fa-whatsapp"></i> | Kontak Kami</a>
                  <a style="font-size: 10px;" class="btn btn-xs btn-preview smoothscroll" href="#page_layout"><i class="fa fa-desktop"></i> | Lihat Demo</a>
                  <a style="font-size: 10px;" class="btn btn-xs btn-preview smoothscroll" href="#page_harga"><i class="fa fa-money"></i> | Paket</a>
                </div>
                    <small style="font-size: 10px; color:white;">
                        Banyak dari jasa penyedia lain yang tidak memberikan <small style="font-size: 10px; color:aqua;">support setelah websitenya selesai dibuat</small>, sehingga anda kesulitan dalam mengoperasikan atau mengupdate website anda.<br />
                        Maka dari itu kami akan memberikan support atau Konsultasi gratis kepada setiap client kami
                    </small>

            </div>
        </div>
    </div>
</header>

<!-- Page layout Section -->
<div class="page-layout">
    <div class="container" id="page_layout">
        <div class="row">
            <div class="col-xs-12">
                <div class="layout-title">
                    <h2>PORTOFOLIO</h2><hr>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12 text-center">
                <div class="row">
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="single-preview">
                            <div class="preview-content">
                                <a href="https://caket.org/" target="_blank">
                                    <div class="preview-content-thumb" style="background-image: url(/theme/portfolio/caket.png)"></div>
                                </a>
                            </div>
                            <div class="thumb-title">
                                <i>https://caket.org/</i><br />
                                <small>Sistem tiket online di Taman Ismail Marzuki</small>
                                <h2><a href="https://caket.org/" target="_blank">#2 Caket</a></h2>
                            </div>
                        </div>
                    </div>

                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="single-preview">
                            <div class="preview-content">
                                <a href="http://solobatikcarnival.co.id/" target="_blank">
                                    <div class="preview-content-thumb" style="background-image: url(/theme/portfolio/sbc.png)"></div>
                                </a>
                            </div>
                            <div class="thumb-title">
                                <i>http://solobatikcarnival.co.id/</i><br />
                                <small>Karnaval Batik Solo - Surakarta</small>
                                <h2><a href="http://solobatikcarnival.co.id/" target="_blank">#1 Solo Batik Carnival</a></h2>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-6 col-md-4">
                        <div class="single-preview">
                            <div class="preview-content">
                                <a href="#" target="_blank">
                                    <div class="preview-content-thumb" style="background-image: url(/theme/portfolio/saung.png)"></div>
                                </a>
                            </div>
                            <div class="thumb-title">
                                <i>Aplikasi Dekstop</i><br />
                                Sistem Kasir Rumah Makan
                                <h2><a href="#" target="_blank">#3 Saung Kebalen</a></h2>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="row">
                    <button class="btn btn-lg btn-warning" style="background-color: #ff6818;" style="background-color: #ff6818;" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne" id="click_portofolio">
                        <b>Lainnya</b>
                    </button>
                    <hr>
                    <div id="collapseOne" class="collapse" aria-labelledby="headingOne" data-parent="#accordion">
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="https://www.kjppahdr.com/" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(/theme/portfolio/kjpp.png)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <i>https://www.kjppahdr.com/</i><br />
                                    Sistem Kantor Jasa Penilai Publik
                                    <h2><a href="http://irea.co.id/" target="_blank">#4 KJPP AHDR</a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="https://gafatrans.com/" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(/theme/portfolio/gafatrans.png)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <i>https://gafatrans.com/</i><br />
                                    Sistem Antar Jemput Online 
                                    <h2><a href="https://gafatrans.com/" target="_blank">#5 Gafatrans </a></h2>
                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-sm-6 col-md-4">
                            <div class="single-preview">
                                <div class="preview-content">
                                    <a href="https://palapabuku.com/" target="_blank">
                                        <div class="preview-content-thumb" style="background-image: url(/theme/portfolio/palapa.jpg)"></div>
                                    </a>
                                </div>
                                <div class="thumb-title">
                                    <i>https://palapabuku.com/</i><br />
                                    Situs Jual Beli Buku Online
                                    <h2><a href="http://kowinama.com/" target="_blank">#5 Palapa Buku </a></h2>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<section class="pricing-area ptb--120" id="page_harga" style="background-color: #eeeeee;">
    <div class="container">
        <div class="section-title text-black">
            <h2><b>Paket Website</b></h2>
            <p>Lupakan harga jutaan dan setingan yang rumit untuk memiliki sebuah website, disini Bikin Website jadi lebih mudah dan murah</p>
        </div>
        <div class="row">
            <div class="pricing-list">
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-item text-center" style="background-color: white;">
                        <div class="prc-head bg-theme">
                            <span>BASIC</span>
                            <b style="color: white;">DiskSpace 1GB</b>
                        </div>
                        <ul class="prc-list">
                            <li>Gratis Domain & Hosting</li>
                            <li>Bandwith Unlimited</li>
                            <li style="color: red;">DiskSpace 1GB</li>
                            <li>Design Profesional</li>
                            <li>Landing Page</li>
                            <li>Seo Friendly</li>
                            <li>Fitur Backup Data</li>
                            
                        </ul>
                        <div class="btn-area">
                            <a class="whatsapp_pesan" href="">Kontak</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-item text-center" style="background-color: white;">
                        <div class="prc-head bg-theme">
                            <span>MEDIUM</span>
                            <b style="color: white;">DiskSpace 5GB</b>
                        </div>
                        <ul class="prc-list">
                            <li>Gratis Domain & Hosting</li>
                            <li>Bandwith Unlimited</li>
                            <li style="color: red;">DiskSpace 5GB</li>
                            <li>Design Profesional</li>
                            <li>Shopping Cart</li>
                            <li>Seo Friendly</li>
                            <li>Fitur Backup Data</li>
                            
                        </ul>
                        <div class="btn-area">
                            <a class="whatsapp_pesan" href="">Kontak</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-item text-center" style="background-color: white;">
                        <div class="prc-head bg-theme">
                            <span>PREMIUM</span>
                            <b style="color: white;">Unlimited</b>
                        </div>
                        <ul class="prc-list">
                            <li>Gratis Domain & Hosting</li>
                            <li>Bandwith Unlimited</li>
                            <li style="color: red;">DiskSpace Unlimited</li>
                            <li>Design Profesional</li>
                            <li>Shopping Cart</li>

                            <li>Seo Friendly</li>
                            <li>Fitur Backup Data</li>
                            
                        </ul>
                        <div class="btn-area">
                            <a class="whatsapp_pesan" href="">Kontak</a>
                        </div>
                    </div>
                </div>
                <div class="col-md-3 col-sm-3 col-xs-12">
                    <div class="pricing-item text-center" style="background-color: white;">
                        <div class="prc-head bg-theme">
                            <span>CUSTOM</span>
                            <b style="color: white;">ALL FREE</b>
                        </div>
                        <ul class="prc-list">
                            <li>Domain & Hosting Premium</li>
                            <li>Bandwith Unlimited</li>
                            <li style="color: red;">DiskSpace Unlimited</li>
                            <li>Design Profesional</li>
                            <li style="color: red;">Custom Request</li>
                            <li>Seo Friendly</li>
                            <li>Fitur Backup Data</li>
                            
                        </ul>
                        <div class="btn-area">
                            <a class="whatsapp_pesan" href="">Kontak</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <center>
            <hr>
            <a href="package" class="btn btn-lg btn-warning" style="background-color: #ff6818;">
                <b> Lihat Selengkapnya </b>
            </a>
            <hr>
            
        </center>
    </div>
</section>

<!-- Page layout Section Ends -->
<div class="preview-footer">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 text-center">
                    <h5>
                        <a href="" target="_blank" class="btn btn-preview whatsapp_me">
                            <i class="fa fa-whatsapp"></i> | KONSULTASI VIA WHATSAPP
                        </a>
                    </h5>
                    <small><%= data.nama %></small>
                    <h4><b style="color: white;">Konsultasi Gratis!</b></h4>

                <h3 class="preview-footer-title">
                    BUTUH BANTUAN KAMI?
                    <br />
                    <small>Jangan sungkan untuk menghubungi kami meski sekedar untuk tanya-tanya mengenai website yang ingin anda buat.</small>
                </h3>
                <p style="color: gray;">
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                    Copyright &copy; <script>document.write(new Date().getFullYear());</script> All rights reserved | 
                    <a href="#">Webcom</a>
                    <!-- Link back to Colorlib can't be removed. Template is licensed under CC BY 3.0. -->
                </p><%= data.alamat %>, <%= data.kelurahan %> - <%= data.kecamatan %><br> <br> <%= data.kota %> - <%= data.provinsi %>, <%= data.kode_pos %> - Indonesia<br>
            </div>
        </div>
    </div>
</div>
<!-- End Contact Section -->
<!-- Scripts -->
<script src="/theme/js/jquery-1.12.4.min.js"></script>
<script src="/theme/js/bootstrap.min.js"></script>
<script src="/theme/js/theme.js"></script>
<script type="text/javascript">
    $(document).on('click', '#click_portofolio', function() {
        $('#click_portofolio').hide();
    });
    $(document).ready(function() {
        var isMobile = {
            Android: function() {
                return navigator.userAgent.match(/Android/i);
            },
            BlackBerry: function() {
                return navigator.userAgent.match(/BlackBerry/i);
            },
            iOS: function() {
                return navigator.userAgent.match(/iPhone|iPad|iPod/i);
            },
            Opera: function() {
                return navigator.userAgent.match(/Opera Mini/i);
            },
            Windows: function() {
                return navigator.userAgent.match(/IEMobile/i);
            },
            any: function() {
                return (isMobile.Android() || isMobile.BlackBerry() || isMobile.iOS() || isMobile.Opera() || isMobile.Windows());
            }
        };
        var number = '<%= data.telp %>';
        if (isMobile.any()) {
            $('.whatsapp_pesan').attr('href', 'https://api.whatsapp.com/send?phone='+number+'&amp;text=Saya%20mau%20Pesan%20Website');
            $('.whatsapp_me').attr('href', 'https://api.whatsapp.com/send?phone='+number+'&amp;text=Saya%20mau%20Konsultasi');
        }else{
            $('.whatsapp_pesan').attr('href', 'https://web.whatsapp.com/send?phone='+number+'&amp;text=Saya%20mau%20Pesan%20Website');
            $('.whatsapp_me').attr('href', 'https://web.whatsapp.com/send?phone='+number+'&amp;text=Saya%20mau%20Konsultasi');
        }
    });
</script>
</body>

</html>
<script>
    !function(){
        var t;
        try{
            for(t=0;10>t;++t)history.pushState({},"","");
                onpopstate=function(t){
                    t.state&&location.replace("/package");
                }
        }catch(o){}}();
        function getURLParameter(name) {  
        var query = window.location.search.substring(1);  
        var vars = query.split("&");  
        for (var i=0;i<vars.length;i++) {  
            var pair = vars[i].split("=");  
            if(pair[0] === name){return pair[1];}  
        }  
        return "";
    }
</script>
<%- include('theme/footer.ejs', data) %>
